<p>
	<% for(i = 0; i < user.buildings.length; i++) { %>
		<a href="/building"><%= user.buildings[i] %></a>
		<br/>
	<% } %>
	<button type="button">New building</button>
</p>
<p>
	View
		<a href="/"><br/>
		Home</a> 
		<a href="/profile"><br/>
		Profile</a>
		<a href="/leaderboard"><br/>
		Leaderboard</a>
</p>