<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>

<body>
<div class="w3-container w3-center w3-animate-zoom">
  <img src="imgs/logo.png" alt="Logo" style="width:10%">
<% if (!user) { %>
	<p>Hi, we don't know who you are!<br/> Please <a href="/login">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.displayName %>.
	<br><a href="/logout/facebook">Log out</a></p>
	<form method="post" action="/addUser">
  		Add a user:<br>
  		<input type="text" name="username"><br>
	</form>
<% } %>

</div>
</body>

