<% if (!user) { %>
	<p>Hi, we don't know who you are!<br/> Please <a href="/login">log in</a>.</p>
	<p>By the way, we've deployed to Heroku from GitHub. :D
<% } else { %>
	<p>Hello, <%= user.displayName %></p>
	<a href="/logout/facebook">Log out</a>
<% } %>

