Top users:<br/>
	<% for(i = 0; i < user.topUsers.length; i++){ %>
		<%= i + 1%>. <%= user.topUsers[i] %><br/>
	<% } %>
<p>
	View
		<a href="/"><br/>
		Home</a> 
		<a href="/profile"><br/>
		Profile</a>
		<a href="/buildings"><br/>
		Buildings</a>
</p>